body {
  margin: 30px;
  padding-right: 5em; }

.trackList {
  background-color: #FEFAC0;
  border: 2px solid black;
  width: 55%;
  padding: 1em 4em 0 3em;
  height: 436px;
  margin-left: 1em;
  overflow: scroll; }

#moreTracks {
  display: block;
  width: 40%; }

#moreBtn {
  border: 2px solid black;
  width: 100px;
  background-color: #c8c8c8;
  border-radius: 10px;
  padding: 0 auto;
  font-weight: bold;
  margin: 2em auto; }

h5 {
  margin: 10px; }

.delButton {
  margin-bottom: 8px;
  background-color: #c8c8c8; }

nav {
  background-color: #FFB4B0;
  border: 2px solid black;
  margin-bottom: 1em;
  width: 76%; }

.filterOptions {
  border: 2px solid black;
  text-align: center;
  float: left;
  background-color: #4DD7FA;
  padding: 1em;
  width: 20%;
  height: 436px; }
  .filterOptions .filterButt {
    border: 2px solid black;
    width: 100px;
    background-color: #c8c8c8;
    border-radius: 10px;
    padding: 0 auto;
    font-weight: bold; }

.visible {
  display: block; }

.hidden {
  display: none; }

.thisTrack {
  border: 2px solid black;
  text-align: center;
  margin: 10px; }
