body {
	background-color: white;
	display: inline;
	
}

.left_col {
	margin: 10px 10px;

}

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	padding: 1em 3em 1em 0;
	border-width: 60%;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 5em;

	}


.first {
	border: 2px solid;
	float: left;
	background-color: #4DD7FA ;
 	width: 20%;
 	height: 400px;
 	padding-left: 5px;
 	margin-right: 1em;
}

.second {
	background-color: #FEFAC0;
	border: 2px solid;
	float: left;
	width: 55%;
	padding-left: 3em;
	padding-right: 5em;
	height: 400px;
	margin-left: 1em;
}

.filterButt {
	border: 2px solid;
	background-color: #c8c8c8;
	font-size: 1em;
	margin-left: 30px;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	

}
#genreSel {
	font-family: sans-serif;
	font-style: italic;
	display: inline;
}

